@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center>Welcome to private Library</center></h1>
    <center><img width="220" height="220" src="~/Images/PrivateLirbary.jpg" /></center>
    
</div>
