<br>
@using (Html.BeginForm("FindBy", "BOOKs"))
{
    <ul class="nav navbar-nav navbar-right">
        <li><input type="search" name="Typed"/></li>  
        <li><button type="submit">FindBook</button></li><br>
        <li>You can search books only by ISB number or name!</li>
    </ul>
}
